<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/healing_heights">Healing_heights</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/symptom_analyzer">Symptom_Analyzer</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link active" href="/book_your_visit">Book_Your_Visit</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/blood_reserves">Blood_Reserves</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/pharmacy">Pharmacy Store</a>
                    </li>
                </ul>
                <div class="expandsize"></div>
                <div>
                   <a class="nav-link"href="/signin">Sigin/Register</a> 
                </div>
            </div>
        </div>
    </nav>
    <div>
        Symptom analyzer
    </div>
    <div>
        User info 
        and Edit User Info
        and Log out Button
    </div>
    <div>
        Active Appointments
        and Cancel Appointment
    </div>
    <div>
        Inactive Appointments
    </div>
    <div>
        Cancelled Appointments
    </div>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Your Visit</title>
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <!-- <link rel="stylesheet" href="css/styles.css"> -->
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/styles1.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/healing_heights">Healing_heights</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link  active" href="/symptom_analyzer">Dashboard</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/book_your_visit">Book_Your_Visit</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/blood_reserves">Blood_Reserves</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/pharmacy">Pharmacy Store</a>
                    </li>
                </ul>
                <div class="expandsize"></div>
                <div class="profile">
                   <a class="nav-link"href="#userInfo">My Profile</a> 
                   <div class="flex" id="userInfo">
                        <h2>User info</h2>
                        <h2>Edit User Info</h2>
                        <h2>Log out Button</h2>
                   </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="flex">
        <h2>Symptom analyzer</h2>
    </div>
    <div class="flex-row appointment">
        <h2>Active Appointments</h2>
        <h2>Cancel Appointment</h2>
    </div>
    <div class="flex">
        <h2>Inactive Appointments</h2>
    </div>
    <div class="flex">
        <h2>Cancelled Appointments</h2>
    </div>
</body>

</html>
