<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="css/styles.css">
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script type="module"  src="/medicine.js"></script>
    <!-- <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="true"></script> -->
    <title>Pharmacy Store</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/healing_heights">Healing_heights</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link disableit">Symptom_Analyzer</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/book_your_visit">Book_Your_Visit</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/blood_reserves">Blood_Reserves</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link active" href="/pharmacy">Pharmacy Store</a>
                    </li>
                </ul>
                <div class="expandsize"></div>
                <div>
                   <a class="nav-link"href="/signin">Sigin/Register</a> 
                </div>
            </div>
        </div>
    </nav>
    <form action="/pharmacy" method="post">
        <input type="text" name="search" id="search" placeholder="search">
    </form>
    <div class="flex-row">
    <%for(var i=0;i<Object.keys(data).length;i++){%>
    <div class="card flex" style="width: 18rem;" id=<%=`${i}`%>>
        <img src="#" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text"><%=Object.keys(data)[i]%></p>
            <%for(var j=0;j<data[Object.keys(data)[i]].length;j++){%>
                <div><%=data[Object.keys(data)[i]][j]%></div>
            <%}%>
        </div>
    </div>
   <%}%>
   </div>
    <div>
        <p class="footer"><span class="bi bi-facebook"></span>
            <span class="bi bi-twitter"></span>
            <span class="bi bi-instagram"></span>
            <span class="bi bi-youtube"></span></p>
        <br>
        <table class="footer">
            <tr>
                <td>PRIVACY POLICY | TERMS OF USE</td>
            </tr>
            <tr>
                <td>Copyright &copy; 2023 Healing Heights</td>
            </tr>
        </table>
    </div>
</body>
</html>