*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-height: 70vh;
  width: auto;
}
.carousel{
    width:70vw;
    margin: 0 auto;
}
.carousel-container{
    background-image: linear-gradient(to bottom,rgb(116, 126, 128) ,rgba(0, 0, 0, 0.772) 55%);
}
.container-fluid{
    background-color: black;
    gap:1rem;
}
.navbar-nav{
    gap:1rem;
}
.navbar{
    padding: 0;
}
.navbar-brand{
    color: white;
}
.navbar-brand:hover,.nav-brand:focus{
    color: white;
     scale: 120%;
}
.nav-link{
    color: white;
}
.nav-link:hover,.nav-link:focus{
    scale: 120%;
    color:white;
}
.disableit{
 cursor: not-allowed;
}
.expandsize{
   flex-basis: 2rem;
   flex-grow: 1;
}
.active{
    background-color:white;
}
.footer{
    margin: auto;
    text-align: center;
}
.flex{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin:2rem 20%;
    border: 2px solid;
    padding: 1rem;
    background-color: black;
    color: white;
    gap: 0.5rem;
}
.flex-row{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    /* margin:2rem 20%; */
    border: 2px solid;
    padding: 0.5rem;
    /* background-color: black; */
    /* color: white; */
    gap: 0.5rem;
}
.card{
    width: 5rem;
    height: 5rem;
}
.appointment{
    background-image:radial-gradient(ellipse, skyblue,aliceblue);
}

.login{
    min-height: 100vh;
    background-image:radial-gradient(ellipse, skyblue,aliceblue);
}

.login-div{
    border: 2px solid;
    width: 25%;
}

.login-div-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 0.5rem;
}

.tag{
text-align: center;
}

.signin-please::after{
  content: "(Please Signin to get the below facility or Submit this form)";
  color:white;
}